<h2 class="text-center">Admin Sign up</h2>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>
  <div class="card mx-auto" style="width: 50rem;">
    <div class="card-body ">
      <div class="form-inputs form-control-lg">
        <%= f.input :email,
                required: true,
                input_html: { autocomplete: "email" }%>
        <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
        <%= f.input :role, as: :select, collection: get_roles %>
        <div class="form-actions"><br>
          <%= f.button :submit, "Sign up", class: "btn btn-info btn-lg"  %>
        </div>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
<% end %>
