<%= simple_form_for(@booking) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="mb-3">
    <%= f.input :title, class:'form-control' %>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-12 ">
      <%= f.input :datetime_range, as: :string , input_html: { id: 'datetimerange', value: @ttoday} %>
    </div>
    <div class="col-md-4 col-sm-12  ">
      <%= f.input :pax %>
    </div>
    <div class="col-md-4 col-sm-12 ">
      <%= f.association :meetingroom %>
    </div>
  </div>
  <%= f.input :admin_id,:as => :hidden, input_html: { value:current_admin.id } %>
  <br>
  <div class="row">
    <div class="col-md-2 col-sm-12 ">
      <%= f.button :submit, class:"btn btn-info btn-lg" %>
    </div>
    <div class="col-md-1 col-sm-12 pl-0">
      <%= link_to 'Back', '/', class:"btn btn-danger text-white btn-lg"  %>
    </div>
  </div>
</div>
<% end %>
<script>
  window.addEventListener("load", function (event) {
      new DateRangePicker('datetimerange', {
       showCustomRangeLabel: true,
       timePicker: true,
       timePickerIncrement: 15,
       linkedCalendars: true,
       autoUpdateInput: true,
       alwaysShowCalendars: true,
       autoApply: true,
       opens: 'right',
       locale: {
         format: "DD/MM/YYYY hh:mm a",
        //  format: moment.localeData().longDateFormat('L'),
         separator: ' - ',
         applyLabel: 'Apply',
         cancelLabel: 'Cancel',
         weekLabel: 'W',
         customRangeLabel: 'Custom Range',
         daysOfWeek: moment.weekdaysMin(),
         monthNames: moment.monthsShort(),
         firstDay: moment.localeData().firstDayOfWeek()
       },
   }, function (start, end, label) {
     $('#booking_start_time').text(start.format('DD/MM/YYYY hh:mm a'))
     $('#booking_end_time').text(end.format('DD/MM/YYYY hh:mm a'))
            })
    });
</script>
