<%= simple_form_for(@booking) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="row">
    <div class="col-md-6 col-sm-12 ">
      <%= f.association :meetingroom, label: "Room Name",input_html: {:disabled => booking.persisted?}%>
    </div>
    <div class="col-md-6 col-sm-12 ">
      <%= f.input :datetime_range, as: :string , input_html: { id: 'datetimerange', value: @ttoday,:disabled => booking.persisted?}%>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12  ">
      <%= f.input :pax ,input_html: {:disabled => booking.persisted?}%>
    </div>
    <div class="col-md-6 col-sm-12 ">
      <%= f.input :title, label: "Remarks", input_html: {:disabled => booking.persisted?} %>
    </div>
    <% if current_user %>
      <% if current_user.admin? && booking.persisted? %>
        <div class="col-md-6 col-sm-12  ">
          <%# disabled: !f.object.new_record? %>
          <%= f.input :status, as: :select, collection: [['Approved', 'approved'], ['Rejected', 'rejected']], selected: params[:status],  input_html: {class: "disable"} %>
        </div>
        <div class="col-md-6 col-sm-12  ">
          <%= f.input :reason %>
        </div>
      <% else %>
      <% end %>
    <% end %>
    <div class="col-md-6 col-sm-12  ">
      <%= f.input :user_id,:as => :hidden, input_html: { value:current_user.id } %>
    </div>
  </div>
  <br>
  <div class="form-actions float-end">
    <%= f.button :submit, class:"btn btn-primary" %>
    <%= link_to 'Back', bookings_path, class:"btn btn-warning "  %>
  </div>
</div>
<% end %>
<script>
  window.addEventListener("load", function (event) {
      new DateRangePicker('datetimerange', {
       showCustomRangeLabel: true,
       timePicker: true,
       timePickerIncrement: 15,
       linkedCalendars: true,
       autoUpdateInput: true,
       alwaysShowCalendars: true,
       autoApply: true,
       opens: 'right',
       locale: {
         format: "DD/MM/YYYY hh:mm a",
        //  format: moment.localeData().longDateFormat('L'),
         separator: ' - ',
         applyLabel: 'Apply',
         cancelLabel: 'Cancel',
         weekLabel: 'W',
         customRangeLabel: 'Custom Range',
         daysOfWeek: moment.weekdaysMin(),
         monthNames: moment.monthsShort(),
         firstDay: moment.localeData().firstDayOfWeek()
       },
   }, function (start, end, label) {
     $('#booking_start_time').text(start.format('DD/MM/YYYY hh:mm a'))
     $('#booking_end_time').text(end.format('DD/MM/YYYY hh:mm a'))
            })
    });
</script>
