<%= simple_form_for(@booking) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="mb-3">
    <%= f.input :title, class:'form-control' %>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-12  mb-3">
      <%= f.input :start_time, as: :datetime, html5: true %>
    </div>
    <div class="col-md-4 col-sm-12 mb-3">
      <%= f.input :end_time, as: :datetime, html5: true %>
    </div>
  </div>
  <div class=" mb-3">
    <%= f.input :pax %>
  </div>
  <div class=" mb-3">
    <%= f.input :admin_id,:as => :hidden, input_html: { value:current_admin.id } %>
  </div>
  <div class=" mb-3">
    <%= f.association :meetingroom %>
  </div>
  <br>
  <div class="form-actions col-12">
    <%= f.button :submit, class:"btn btn-info btn-lg" %>
    <%= link_to 'Back', '/', class:"btn btn-danger text-white btn-lg"  %>
  </div>
</div>
<% end %>
