<% content_for(:title) do %>
  Bookings
<% end %>
<div class="card mx-auto" style="width:98rem">
  <div class="card-header">
    <h3>Booking List</h3>
  </div>
  <div class="card-body">
    <div class="table-responsive ">
      <%= link_to 'New Booking', new_booking_path, class:"btn btn-primary float-start" %>
      <table id="example6" class='display table table-sm'>
        <thead class="table-light">
          <tr class="text-center">
            <th>#</th>
            <th >Title</th>
            <th >Meeting Room</th>
            <th >Date Event</th>
            <th >Time</th>
            <th >Pax</th>
            <th >Booking Person</th>
            <th >Status</th>
            <% if current_user.admin? %>
              <th >Action</th>
            <% end %>
            <th>X</th>
          </tr>
        </thead>
        <tbody>
          <% Booking.all.each.with_index(1) do |booking, index| %>
            <tr class="text-center text-sm">
              <td><%= index %></td>
              <td><%= link_to booking.title, booking, class: "text-primary"  %></td>
              <td><%= booking.meetingroom_name %></td>
              <td><%= local_time(booking.start_time, format: '%e/%m/%Y') %> - <%= local_time(booking.end_time, format: '%e/%m/%Y') %></td>
              <td><%= local_time(booking.start_time, format: '%l:%M %P') %> - <%= local_time(booking.end_time, format: '%l:%M %P') %></td>
              <td><%= booking.pax %></td>
              <td><%= booking.user_name %></td>
              <td>
                <div class="badge badge-sm badge-rounded bg-<%= booking_status_color(booking) %>">
                  <%= booking.status %> </div>
              </td>
              <% if current_user.admin? %>
                <td>
                  <%# <%= link_to edit_booking_path(booking) do
                      <span class="badge badge-sm bg-info">  <i class="fa fa-edit fa-lg"></i> Edit
                      </span>
                    <% end %>
                  <% if booking_can_act?(booking) %>
                    <%= link_to edit_booking_path(booking, status: "rejected") do %>
                      <span class="m-1 badge badge-sm badge-rounded bg-warning">  Reject
                      </span>
                    <% end %>
                    <%= link_to edit_booking_path(booking, status: "approved") do %>
                      <span class="m-1 badge badge-sm badge-rounded bg-success">  Approve
                      </span>
                    <% end %>
                  <% end %>
                </td>
              <% end %>
              <td>
                <% if current_user.name == booking.user_name%>
                  <% if !booking.approved? and !booking.rejected?%>
                    <%= link_to bookings_path, method: :delete, data: {confirm: "Are you sure? This action is cannot be undone." } do %>
                      <span class="badge badge-sm bg-danger">  <i class="fa fa-trash fa-lg"></i>
                      </span>
                    <% end  %>
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<br>
