<p id="notice"><%= notice %></p>

<h1 class="text-center">List of Meeting Room Booking</h1>
  <div class="card">
<div class="card-body">
<table id="BookingTable" class='table table-striped table-hover table-lg'>
  <thead class="table-dark">
    <tr>
      <th>Title</th>
      <th>Date book</th>
      <th>Time start</th>
      <th>Time end</th>
      <th>Pax</th>
      <th>User Name</th>
      <th>Meeting Room</th>
      <th>Option</th>

    </tr>
  </thead>

  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
      
        <td><%= link_to booking.title, booking %></td>
        <td><%= local_time booking.date_book if booking.date_book%></td>
        <td><%= local_time booking.time_start if booking.time_start %></td>
        <td><%= local_time booking.time_end if booking.time_end%></td>
        <td><%= booking.pax %></td>
        <td><%= booking.user_id %></td>
        <td><%= booking.meetingroom_id %></td>
        <td>
        <%= link_to 'Edit', edit_booking_path(booking), class:'btn btn-outline-success text-success'  %>
        <%= link_to 'Destroy', booking, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-outline-danger text-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>



<br>
<%= link_to '+ New Booking', new_booking_path, class:"btn btn-info btn-lg text-dark" %>

<script>
$(document).ready(function() {
  var MRTable = $("#BookingTable").DataTable({})
});
</script>