<h2 class="text-center">Forgot your password?</h2>
  
<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
<%= f.error_notification %>
<div class="card mx-auto" style="max-width: 50rem;">
  <div class="card-body ">
    <div class="form-inputs form-control-lg">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %> <br>
        <div class="form-actions">
          <%= f.button :submit, "Send me reset password instructions", class:"btn btn-info btn-lg"  %> <br>
        </div> 
        <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
<% end %>

