<h2 class="text-center">Log in</h2>
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="card mx-auto" style="max-width: 50rem;">
    <div class="card-body ">
      <div class="form-inputs form-control-lg">
        <%= f.input :email,
                  required: false,
                  autofocus: true,
                  input_html: { autocomplete: "email", class:'form-control-lg' } %>
        <%= f.input :password,
                  required: false,
                  input_html: { autocomplete: "current-password", class:'form-control-lg'} %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        <br>
        <div class="form-actions ">
          <%= f.button :submit, "Log in", class: "btn btn-info btn-lg mr-1" %>
        </div>
        <h5>  <%= render "devise/shared/links" %> </h5>
      </div>
    </div>
  </div>
<% end %>
