<%= simple_form_for(@meetingroom) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="form-inputs form-control-lg">
    <%= f.input :name %>
    <%= f.input :capacity %>
    <br>
    <div class="form-actions">
      <%= f.button :submit, class:"btn btn-info btn-lg"  %>
      <%= link_to 'Back', @meetingroom, class:"btn btn-danger text-white btn-lg" %>
      <%= link_to 'Delete', @meetingrooms, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-dark text-white btn-lg' %>
    </div>
  </div>
<% end %>
