<p id="notice"><%= notice %></p>

<h1 class="text-center">List Registered Meeting Rooms</h1>
  <div class="card ">
<div class="card-body">
<table id="MRoomTable" class='table table-striped table-hover table-lg'>
  <thead class="table-dark ">
    <tr>
      <th>Name</th>
      <th>Capacity</th>
      <th>Option</th>
    </tr>
  </thead>

  <tbody>
    <% @meetingrooms.each do |meetingroom| %>
      <tr>
        <td><%= link_to meetingroom.name, meetingroom %></td>
        <td><%= meetingroom.capacity %></td>
        <td>
        <%= link_to 'Destroy', meetingroom, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-outline-danger text-danger' %></td>
        <%# <button type="button" class="btn btn-outline-danger">Danger</button> %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>




<br>

<%= link_to '+ New Meeting Room', new_meetingroom_path, class:"btn btn-info btn-lg text-dark" %>
<script>
$(document).ready(function() {
  var MRTable = $("#MRoomTable").DataTable({})
});
</script>