<div class="card mx-auto" style="width:98rem">
  <div class="card-header ">
    <h3>Room List</h3>
  </div>
  <div class="card-body">
    <%= link_to 'Add Room', new_meetingroom_path, class:"btn btn-primary float-end"  %>
    <div class="table-responsive ">
      <table id="example6" class='display table table-sm'>
        <thead class="bg-light">
          <tr class="text-center">
            <th>#</th>
            <th>Room Name</th>
            <th>Room Level - Name</th>
            <th>Room Capacity</th>
            <th>Option</th>
          </tr>
        </thead>
        <tbody class="table-bordered">
          <% @meetingrooms.each.with_index(1) do |meetingroom, index| %>
            <tr class="align-middle text-center text-sm">
              <td><%= index %> </td>
              <td><%= meetingroom.name %></td>
              <td> Level <%= meetingroom.capacity %> | Room <%= meetingroom.capacity %> </td>
              <td><%= meetingroom.capacity %> Pax</td>
              <td class="text-center">
                <%= link_to meetingroom do %>
                  <span class="badge badge-sm bg-primary">  <i class="far fa-file-alt fa-lg"></i> View
                  </span>
                <% end %>
                <%= link_to edit_meetingroom_path(meetingroom) do %>
                  <span class="badge badge-sm bg-info">  <i class="fa fa-edit fa-lg"></i> Edit
                  </span>
                <% end %>
                <%= link_to meetingroom, method: :delete, data: {confirm: "Are you sure? This action is cannot be undone." } do %>
                  <span class="badge badge-sm bg-danger">  <i class="fa fa-trash fa-lg"></i> Delete
                  </span>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<br>
