<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <h5><a class="navbar-brand" href="/">Meeting Room Booking System</a></h5>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse ml-auto justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav navbar-right mr-4">
        <% if admin_signed_in? %>
          <% if current_admin %>
            <% if current_admin.admin? %>
              <li class="nav-item">
                <h5><%= link_to "+ New User", new_admin_registration_path, class: "nav-link text-white" %></h5>
              </li>
            <% else %>
            <% end %>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= current_admin.email %>
              </button>
              <div class="dropdown-menu " aria-labelledby="dropdownMenuButton">
                <% if current_admin.admin? %>
                  <h5><%= link_to "Account Settings", edit_admin_registration_path, class: "dropdown-item" %></h5>
                <% else %>
                <% end %>
                <h5><%= link_to "Log Out", destroy_admin_session_path, method: :delete, class: "dropdown-item" %></h5>
              </div>
            </div>
          <% end %>
        <% else %>
          <li class="nav-item">
            <h5><%= link_to "Log In", new_admin_session_path, class: "nav-link text-white" %></h5>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
</nav>
